.home-container-principa {
    width: 100vw;
    height: max-content;


}

.color-back {
    position: absolute;
    clip-path: polygon(64% 63%, 100% 0%, 93% 81%, 30% 100%);
    background: rgb(35, 217, 22);
    background: linear-gradient(4deg, rgba(35, 217, 22, 0.7455357142857143) 0%, rgba(124, 144, 144, 0.030547752808988804) 0%, rgb(160, 208, 148) 0%, rgba(173, 186, 172, 0.0951544943820225) 88%, rgba(75, 131, 72, 1) 100%, rgba(152, 156, 141, 0.591) 100%);
    width: 100vw;
    height: 3000px;
    z-index: -1;
}
.color-back2 {
    position: absolute;
    clip-path: polygon(0 43%, 37% 26%, 7% 54%, 1% 100%);
    background: rgb(35, 217, 22);
    background: linear-gradient(4deg, rgba(35, 217, 22, 0.7455357142857143) 0%, rgba(124, 144, 144, 0.030547752808988804) 0%, rgb(160, 208, 148) 0%, rgba(173, 186, 172, 0.0951544943820225) 88%, rgba(75, 131, 72, 1) 100%, rgba(152, 156, 141, 0.591) 100%);
    width: 100vw;
    height: 2000px;
    left: 1%;
    z-index: -1;
}
.color-back3 {
    position: absolute;
    clip-path: polygon(20% 0, 13% 8%, 0 23%, 0 33%);
    background: rgb(35, 217, 22);
    background: linear-gradient(4deg, rgba(35, 217, 22, 0.7455357142857143) 0%, rgba(124, 144, 144, 0.030547752808988804) 0%, rgb(160, 208, 148) 0%, rgba(173, 186, 172, 0.0951544943820225) 88%, rgba(75, 131, 72, 1) 100%, rgba(152, 156, 141, 0.591) 100%);
    width: 100vw;
    height: 2000px;
    left: 1%;
    z-index: -1;
    margin-top: 20px;
}
.color-back4 {
    position: absolute;
    clip-path: polygon(51% 2%, 66% 1%, 85% 12%, 61% 7%, 43% 26%);
    background: rgb(35, 217, 22);
    background: linear-gradient(4deg, rgba(35, 217, 22, 0.7455357142857143) 0%, rgba(124, 144, 144, 0.030547752808988804) 0%, rgb(160, 208, 148) 0%, rgba(173, 186, 172, 0.0951544943820225) 88%, rgba(75, 131, 72, 1) 100%, rgba(152, 156, 141, 0.591) 100%);
    width: 100vw;
    height: 500px;
    z-index: -1;
  
}


.home-container-titulo-nombre {
    position: relative;
    left: 18%;
    top: 100px;
    color: rgb(14, 13, 13);
 
}

.container-letrasColores {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    margin-left: 6%;
    position: relative;
    bottom: 30px;
    transition: all .3s ease-in-out;
}
.container-minombre-colores {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    position: relative;
    top:10px;
    right: 2%;

}
.verde:hover {
    color: #0cff04;
   
}
.comunes:hover {
    color: rgb(253, 4, 211);
}
.turq:hover {
    color: rgb(0, 247, 255);
}

@media (max-width:376px) {
    .home-container-titulo-nombre {
        left: 6%;
    }

    .container-letrasColores {
        font-size: 35px;

    }
}

@media (max-width:394px) {
    .home-container-titulo-nombre {
        left: 6%;
    }

    .container-letrasColores {
        font-size: 35px;
        position: relative;
        right: 3%;
    }
}
@media (max-width:306px) {
    .container-letrasColores {

        display: contents
    }
}
@media (max-width:414px) {
    .home-container-titulo-nombre {
        left: 6%;
    }
    .container-letrasColores {
        font-size: 35px;

    }
}
@media (max-width:541px) {
    .home-container-titulo-nombre {
        left: 6%;
    }
    .container-letrasColores {
        font-size: 35px;

    }
}