.grey-cirlce {
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 50em;
    position: absolute;
    cursor: pointer;
    top: 0px;
}

.t {
    margin-top: 1%;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1pz solid #999;
    z-index:2;
    position: fixed;
    top: 10px;
    right: 1px;
    align-items: center;
    justify-content: center;
}

.t-icon {
    width: 19px;
    height: 19px;
}

.light{
    right: 9px;
}
.dark{
    left:0;
}

@media (min-width:200px) {
    .t{

       margin-right:7% ;
    }
}



