.FrontMid-container-Principal{
    position: relative;
    display: flex;
    top: 200px;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
 .back-img{
    width: 200px;
    height: 300px;
    border-radius: 2em;
    background-color: rgb(80, 77, 77);
    background-size: cover;
} 
.in-img{
    position: relative;
    bottom: 300px;
    right: 20px;
    margin-left: 20%;
    margin-top: 10%;
    width: 200px;
    height: 300px;
    border-radius: 2em;
    background-image: url(./iglesia.jpg);
    background-size: cover;
    
}
/* .in-img:hover{
    top: 15px;
    left: 28px;
} */
.about-me{
    margin:50px;
    font-size: 22px;
    max-width: 500px;

}
.back-img2{
    width: 200px;
    height: 300px;
    border-radius: 2em;
    background-color: rgb(80, 77, 77);
    position: absolute;
    z-index: -1;
    bottom: 20px;
}
.in-img2{
  margin-left: 10%;
    width: 200px;
    height: 300px;
    border-radius: 2em;
    background-image: url(./pasillo-arabe.jpg);
    background-size: cover;
}
/* .in-img2:hover{
    width: 203px;
    height: 303px;

} */
.about-me2{
    margin:50px;
    max-width: 500px;
    font-size: 22px;

}

.container-imagenes{
    position: relative;
    right:10%;
}

@media (min-width:1200px) {
    .in-img2{
     position: relative;
     right: 180%;
    } 
    .in-img{
        position: relative;
        left: 180%;
        bottom: 300px;
        }  
        .back-img{
            position: absolute;
            bottom: 319px;
            left: 423px; 
        }
        .back-img2{
            position: absolute;
            bottom: 20px;
            right:360px; 
        }  


}
@media (min-width:1200px) {
    .about-me2{
       position: relative;
       top:180px;
       right: 50px;

    }
    .about-me{
       position: relative;
       top:100px;
       right: 200px;
    }
    
   
}

/* @media (min-width:1200px) {
    .in-img2{
     position: relative;
     right: 60%;
    
      
    } .in-img{
        position: relative;
        left: 100%;
             
            
          }
} */