.Carrusel-contenedor-principal {
    left: 50%;
    transform: translate(-50%);
    top: 200px;
    position: relative;
    background-color: rgba(82, 75, 75, 0.42);
    padding: 2%;
    width: 70%;
    height: 450px;
    border-radius: 50px;
    // box-shadow: inset 0px 0px 5px 11px rgba(0, 0, 0, 0.406);
    
}
.Carrusel-contenedor-div-contenedor {
    top: 170px;
    font-size: 60px;
    position: relative;
    left: 34%;
    margin-bottom: 3%;
   

}
.Carrusel{
    flex-wrap: wrap;
    position: relative;
    bottom: 100px;
}

@media (max-width:1228px) {
    .Carrusel{
        position: relative;
      
       
    }
   
}
@media (max-width:890px) {
    
    .Carrusel-contenedor-div-contenedor {

       left: 10%;
    
    }
}