.movement{
    position: relative;
    height: 60px;
    overflow: hidden;
    left: 30%;
    margin-top: 5%;
    width: max-content;

}
.movement-container{
   height: 100%;
   animation: move 14s ease-in-out infinite alternate;
}
@keyframes move {
    25%{transform: translateY(-50px);}
    50%{transform: translateY(-100px);}
    75%{transform: translateY(-150px);}
    90%{transform: translateY(-200px);}
    100%{transform: translateY(-250px);}

    
}
.movement-html{
    height: 51px;
    color:#59b256 ;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

@media (max-width:281px) {
    .movement{
      
        left: 20%;
      
    
    }
}
@media (max-width:376px) {
    .movement{
      
       top:30px
      
    
    }
}
@media (max-width:414px) {
    .movement{
      
       top:30px
      
    
    }
}
@media (max-width:540px) {
    .movement{
      
       top:30px
      
    
    }
}