.ProyectoCard-contenedor-principar {
   max-width: 400px;
   margin-left: 3%;
   margin-right: 3%;
  
}
.website{
   position: absolute;
   color: #09fd83;
  left: 10%;
top:20px
}

.ProyectoCard-contenedor-img {
   img {
      border-radius: 50px;
      // box-shadow: 10px 5px 11px black;
   }
  
}
.boton:hover {
   background-color: #64F4AC;
   box-shadow: 0px 0px 10px 2px rgb(100 244 172 / 40%);
   -webkit-box-shadow: 0px 0px 10px 2px rgb(100 244 172 / 40%);
   transition: all .3s ease-in-out;
   color: #000000;
}
.boton {
   position: relative;
   left: 120%;
   width: 30%;
   height: 48px;
   bottom: 400px;
   border-radius: 8px;
   background-color: #0f0e0e;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   font-weight: 400;
   color: #656568;
   cursor: pointer;
   transition: all .3s ease-in-out;
   box-shadow: 10px 5px 11px rgba(0, 0, 0, 0.265);
}

.boton2 {
   position: relative;
   left: 159%;
   bottom: 448px
}

.info {
   padding: 2%;
   position: relative;
   left: 120%;
   height: max-content;
   bottom: 400px;
   border-style: solid;
   border-radius: 6px;
   border-width: 1px;
   background-color: #28282B;
   width: 70%;
   color: #88888e;
   // box-shadow: 3px 2px 5px 2px black;
   p {
      font-size: 17px;
   
   }
}
.h4{
   color: #64F4AC;
}
.h4:hover{
   color: #37875f;
}
.boton {
      display: block;
      text-decoration: none;
      font-size: inherit;
      color: #64F4AC;
  }

  @media (max-width:1264px) {
   .contenedor-botones{
      position: relative;
      top:330px;
      right: 104%;
   }
   .info{
      display: none;
   }
   .boton {
      color: #64F4AC;
  }
}